[Desktop Entry]
Name=Bible
GenericName=Bible reading app
Comment=Read Bible on your desktop wherever you are
Categories=GTK;Education;
Exec=com.github.jendamarek.scripture
Icon=com.github.jendamarek.scripture
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.jendamarek.scripture
Keywords=Bible;Reading;Word;God;Christian;Book;Scripture;
